html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	text-align: center;
	font-family: Courier, "Andale Mono", Arial, sans-serif;
}

#container {
	border-top: solid 2px rgb(183,179,179);
	border-bottom: solid 2px rgb(183,179,179);
	width: 300px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
}

#instruction {
	width:600px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

#instruction p {
	font-weight: bold;
}

p:first-of-type {
	font-size: 20px;
}

#time, #score {
	width: 30px;
}

.hole {
	margin: 5px 8px 5px 8px;
}